# For more information see the documentation at https://sioyek-documentation.readthedocs.io/

# (can be 0 or 1) if set, shows a notification on startup if a new version of sioyek is available
check_for_updates_on_startup	0

# Use old keybind parsing method (only for backwards compatibility)
use_legacy_keybinds 0

# The color with which the screen is cleared before rendering the pdf (this is the background color of the application and not the PDF file)
dark_mode_background_color 0.5 0.5 0.5
custom_background_color              0.102 0.106 0.145
custom_text_color                    0.717 0.749 0.894

status_bar_color        0 0 0
status_bar_text_color   1 1 1
status_bar_font_size    10

ruler_mode 0
use_ruler_to_highlight_synctex_line  0
highlight_synctex_line   1
synctex_highlight_color   1 0 0
synctex_highlight_duration  3

# ruler_mode 0
#
enable_experimental_features 1

# 如果不设置这一项的话, 用鼠标滚轮zoom的时候, 总是以屏幕中心为缩放中心. 设置之后, 以当前鼠标的位置为缩放中心
wheel_zoom_on_cursor 1

# inverse_search_command  "/opt/homebrew/bin/nvim" --headless -c "lua require('lazy').load({ plugins = { 'vimtex' } })" -c "VimtexInverseSearch %2 '%1'"
# inverse_search_command  "/opt/homebrew/bin/nvim" --headless -c "lua require('lazy').load({ plugins = { 'vimtex' } })" -c "VimtexInverseSearch %2 '%1'"

startup_commands  toggle_visual_scroll;toggle_custom_color;toggle_synctex;toggle_scrollbar;toggle_bookmarks;toggle_sidebar;toggle_searchbar;toggle_menu_bar;toggle_mouse_drag_mode
